#map_canvas{
	position: absolute;
	bottom: 0px;
	width:100%; 
	height:75%;
}

#ui{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 25%;
}

#input, #info {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	z-index: 100;
}
#time {width: 100px;}
#info {display: none; font-size: 14pt; line-height: 120%}
.relax { background: #0fb0f2; color: #fff;}
.hurry { background: #f35a16; color: #fff;}
.ontime { background: #32cc13; color: #fff;}

#directionsPanel{display: none;}